
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
// $icon-font-path: '../../node_modules/materialize-sass-origin/font/material-design-icons';




// Import Bootstrap
// @import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import '../../node_modules/materialize-sass-origin/sass/materialize.scss';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body{
  font-family: 'Roboto', sans-serif;
}
