
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
// $icon-font-path: '../../node_modules/materialize-sass-origin/font/material-design-icons';




// Import Bootstrap
// @import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import '../../node_modules/materialize-sass-origin/sass/materialize.scss';
// @import '../../node_modules/dropzone/src/dropzone.scss';



*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body{
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
  color: black;
}

.search-wrapper{

  .search-i{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  #search{
    display: block;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    height: 45px;
    margin: 0;
    border: 0;
  }

}

////
// Navbar styles
////

// #790C10 original maroonish color
// #AC3931 possible rusty red
// #6D213C possible purple
// #6A5B6E purple grey
// #BAAB68 yellowish
// #FFBA49 brighter yellow
// #100A42 navy
// #EE0140 magenta
// #15809B turquoise

.nav-wrapper{
  background-color: #EE0140;
}

.brand-logo{
  font-family: 'Warnes', cursive;
}

footer.page-footer{
  background-color: #15809B;
}

.chip{
  background-color: #15809B;
  color: white;
  margin-left: 15px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

// .header::before{
//   content: url('../images/moxy_logo 2.png');
//   position: absolute;
//   top: 25%;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   // z-index: 10;
//   z-index: 5;
//   transform: skewX(-12deg) skewY(-6deg);
// }

// .big-moxy{
//   color: white;
//   font-family: 'Warnes', cursive;
//   position: absolute;
//   text-align: center;
//   top: 25%;
//   left: 30%;
//   font-size: 150px;
//   // transform: skewX(-12deg) skewY(-6deg);
//
//
// }
//
// .big-under{
//   color: white;
//   font-family: 'Warnes', cursive;
//   position: absolute;
//   text-align: center;
//   top: 51%;
//   left: 33%;
//   font-size: 40px;
//   // transform: skewX(-12deg) skewY(-6deg);
//
// }
//
// @media (max-width:900px) {
//
//   .big-moxy{
//     top: 25%;
//     left: 30%;
//     font-size: 100px;
//
//   }
//
//   .big-under{
//     top: 40%;
//     left: 33%;
//     font-size: 30px;
//
//   }
// }
//
// @media (max-width:675px) {
//
//   .big-moxy{
//
//     top: 25%;
//     left: 30%;
//     font-size: 80px;
//
//   }
// }
//
// @media (max-width: 600px) {
//
//   .big-moxy{
//
//     top: 20%;
//     left: 25%;
//     font-size: 80px;
//
//   }
// }
//
// @media (max-width:530px) {
//
//   .big-moxy{
//     top: 15%;
//     left: 20%;
//     font-size: 80px;
//
//   }
// }
//
// @media (max-width:500px) {
//
//   .big-moxy{
//     top: 15%;
//     left: 18%;
//     font-size: 80px;
//
//   }
// }
//
// @media (max-width:430px) {
//
//   .big-moxy{
//     top: 15%;
//     left: 15%;
//     font-size: 80px;
//
//   }
// }

.btn{
  background-color: #FFBA49;
}

.btn:hover{
  background-color: #BAAB68;
}

.collection .collection-item.avatar{
  // background-color: #B2BDBE;
  font-size: 21px;

}

.collection .collection-item{
  padding-top: 20px;

}

.collection .collection-item:hover{
  transition: .3s;
  background-color: #88D18A;
  color: white;
}

.collapsible-header{
  font-size: 19px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.collapsible-body{
  font-size: 19px;

}



.todo-notes{
  display: inline-block;
  margin-left: 20px;
  margin-top: 15px;
}

// .todo-add-button{
//   position: relative;
//
// }
//
.material-icons.md-36{
  font-size: 36px;
  // position: relative;
  // vertical-align: middle;
  margin-left: -10;
  color: green;
}

.todo-delete{
  margin: 10px;
}

.client-name{
  margin-top: 10px;
}

// .checkbox{
//   vertical-align: middle;
// }

.check-label{
  display: inline-block;
  vertical-align: middle;
}

.client-notes{
  margin: 15px;
  margin-left: 20px;
}

.avatar-image{
  max-width: 40px;
  max-height: 40px;
}

.client-avatar{
  max-width: 100%;
  max-height: 225px;
  margin-top: 10px;
}

.client-card-name{
  overflow: hidden;
}

.preview-img{
  max-height: 250px;
  max-width: 250px;
}

.starboard-bottom{
  height: 50px;
}

// .starboard{
//   height: 300px;
// }

.stat-rule{
  margin-top: 40px;
  margin-bottom: 30px;
}

////
// Styling for client home page
////

.counter-head{
  background-color: #88D18A;
}

.logged-in-avatar{
  max-height: 50px;
  max-width: 50px;
  margin-right: 10px;
}

.logged-in-as{
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.star-card{
  padding-top: 40px;
}

.your-stars{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 27px;

}

.home-header{
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 15px;
}



.edit-box{
  box-shadow: inset 0 2px 10px 0 rgba(227,84,91,1), 0 2px 10px 0 rgba(227,84,91,1);
}



input{
  margin: 10px;
}

// textarea.materialize-textarea{
//   // margin-left: 15px;
//   padding-left: 30px;
// }

.input-field{
  margin: 20px;
}

input[type=text]{
  margin-left: 15px;
  width: 92%;
}

.intake-refresh{
  background-color: #100A42;
  margin-right: 10px;
}

.intake-head{
  background-color: #15809B;
  color: white;
  border-radius: 40px;
  border: 3px solid #12697F;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}



/////
// Coach workspace styles
/////
.client-list-head{
 background-color: #15809B;
 color: white;
 border-radius: 40px;
 padding-left: 20px;
 padding-right: 20px;
 padding-top: 10px;
 padding-bottom: 10px;
 border: 3px solid #12697F;
}

.starboard-head{
  background-color: #15809B;
  color: white;
  border-radius: 40px;
  border: 3px solid #12697F;
}

.food-header{
  font-size: 16px;
  font-weight: bold;
}


/////
// Account Settings page styles
/////

.logged-in-wrap{
  background-color: #15809B;
  // width: 295px;
  padding-right: 20px;
  border: 3px solid #12697F;
  border-radius: 30px;
  color: white;
}



.collection{
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}


//This is for editing the error messages
// .error{
//   background-color: red;
// }

.splash-card{
  font-size: 20px;
  height: 460px;
}

.prog-label{
  font-size: 2rem;
  margin-right: 10px;
}

.progress-bar{
  color: white;
  background-color: #EE0140;
  padding-left: 20px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 3px solid #12697F;
  border-radius: 40px;
  margin-bottom: 15px;

}

.client-prog{
  margin: 0;
  margin-top: 3px;
  margin-left: 10px;
  height: 20px;

  border-radius: 10px;
}

.collapsible-header .edit-save{
  line-height: 2.5rem;
  margin-right: 0px;
  width: 2.5rem;
}
//
// .collapsible-header i{
//   line-height: 1em;
//   width: auto;
//   font-size: 1;
//   margin-right: 0;
// }
